<a href="[@URL@]">
    <div class="col-xs-6 col-sm-4 col-lg-4">
       <div class="category-wrapper">
            <div class="category-geometric">
            
                <div class="category-img" style="background: url([%ASSET_URL type:'content' id:'[@content_id@]' /%]) 50% 50% no-repeat">
                <div class="category-overlay secondary-background hidden-xs">
                    <p class="white center-absolute">[%format type:'text' maxlength:'150'%][@content_short_description1@][%/format%]</p>
                </div>
                </div>
                
            </div>
            <p class="category-label tertiary-border tertiary-color white-background">[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@content_name@][%/FORMAT%]</p>
        </div>
    </div>
</a>         