<!--##[%thumb_list limit:'10' type:'list_wishlists'%]##-->
<!--##[%PARAM pgnum%][%FORM id:'pgquote'%][%END FORM%][%END PARAM%]##-->
<!--##[%PARAM header%]##-->

	<div class="wishlist-options">
        <form id="wishform">
        <!--##[%END PARAM%]##-->
		<!--##[%PARAM *body%]##-->
		<div class="radio wish-radio" onclick="load_wishlist([@wishlist_id@])">
				<label class="wishlist-single"><input type="radio" name="optradio" value="[@wishlist_id@]" data-id="[@wishlist_id@]">[@wishlist_name@] <span class="" onClick="deleteList('[%URL page:'account' type:'wishlist' id:'[@wishlist_id@]' qs:'proc=deletelist' %][%END URL%]')"><i class="fa fa-trash-o icon-white"></i>  </span></label>
		</div>
        <hr>
        <!--##[%END PARAM%]##-->
        <!--##[%PARAM *footer%]##-->
    </form>
    <a onclick="load_wishlistList()" class="btn tertiary-color tertiary-color-hover tertiary-border hidden">Refresh Wishlist  <i class="fa fa-refresh wishlist-refresh-icon tertiary-color"></i></a>
    </div>
    

       <!--##[%END PARAM%]##-->
       
       <!--##[%PARAM ifempty%]##-->
       <p class="no-lists">You have no wish lists setup. <br><br>To set up a wishlist simply click the <i class="fa fa-heart theme-primary-color"></i> icon on any product and choose a list. Easy peasy!</p>
       <!--##[%END PARAM%]##-->
       <!--##[%END thumb_list%]##-->

